<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <title>Signup</title>
</head>
<body>
    <div class="container">
        <h1>Signup</h1>
        <form method="post" action="/user/signup">
            <div class="mb-3">
              <label for="fullname" class="form-label">Full name</label>
              <input type="text" class="form-control" name="fullname" id="fullname" aria-describedby="fullname">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" id="exampleInputPassword1">
            </div>
          
            <button type="submit" class="btn btn-primary">Signup</button>
          </form>
    </div>
     
    <%- include("./partials/script.ejs") %>
</body>
</html>



